BeautifulSoup==3.2.1
Flask==0.10.1
Flask-RESTful==0.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
Werkzeug==0.9.6
aniso8601==0.85
cssselect==0.9.1
gunicorn==19.1.1
html2text==2014.9.25
itsdangerous==0.24
lxml==3.4.1
newspaper==0.0.8
nltk==3.0.0
pytz==2014.10
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
